<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Goalz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>356BE0BC1E3124DA000F7347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>356BE0D01E3124DB000F7347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>356BE0DB1E3124DB000F7347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
